<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navigate"><center>
        <a href="#" onclick="navigate('mesas')">Mesas</a>
        <a href="#" onclick="navigate('cadeiras')">Cadeiras</a>
        <a href="#" onclick="navigate('almofadas')">Almofadas</a>
    </center></nav>
       <header>
      <center><h1 class="titulo">Catálogo</h1></center>
   </header>

    <main id="content">
        <!-- Conteúdo carregado via JS -->
    </main>

    <footer>
        <p>SPA com Flask | Exemplo 🚀</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
