<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mesas</title>
    <style>
        img {
            width: 400px; height: auto;}
    </style>
</head>
<body>
    <div><h1>Mesas</h1>
        <p>Conheça as nossas mesas:</p>
        <a href="/">Retornar</a>
        <br>
        <img src="https://www.inusual.com.br/cdn/shop/files/Mesa-de-Centro-Sofia.jpg?v=1682515881&width=1400" id="round">
        <img src="https://images.tcdn.com.br/img/img_prod/1200469/mesas_de_centro_organica_vincent_135x60_freijo_799_1_27b4d3d3ba5081ef591218207453f4ad.png" id="round">
        <img src="https://cdn.atelierclassico.com.br/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/m/e/mesa-centro-inglesa-imbuia_5_.jpg" id="round">
    </div>
</body>