<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if logado %}
        <h1>NÃO ESTA LOGADO</h1>
        <a href="/form">Logar</a>
    {% else %}
    <head>
        <title>Perfil de {{user}}</title>
    </head>
    <body>
        <h1>Bem-Vindo, {{user}}!</h1>
        <li><a href="noticias">Clique aqui para ver noticias</a></li>
    </body>
    {% endif %}
</body>
</html>